$blackDark : #090A10;
$darkColor : #1c212d;
$primaryColor : #54545E;
$blueColor : #0b0ce9;
$navyBlue : #131659;
$lightColor : #EBECF2;
$lightGray : #A3B7D5;
$blueSecondary : #2A37BC;
$pastelGray : #739AC0;


:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    background-color: $darkColor;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }



.app {
    display: flex;
    justify-content: center;
    .container {
        width: 1024px;

        p{
            color: $lightGray;
        }
        .link {
            text-decoration: none;
            color: inherit;
        }
        // LOGIN & REGISTER

        .auth {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: $primaryColor;
        }

        h1 {
            font-size: 2rem;
            color: teal;
        }

        form {
            display: flex;
            flex-direction: column;
            padding: 50px;
            background-color: white;
            width: 300px;
            border-radius: 5px;
            gap: 20px;


            input {
                padding: 10px;
                border: none;
                border-bottom: 1px solid gray;
            }
            
            button {
                padding: 10px;
                border: 1px solid #f5f5f5;
                background-color: $primaryColor;
                color: white;
                cursor: pointer;

                &:hover{
                    background-color: #f5f5f5;
                    color: black;
                    border: 1px solid $primaryColor;
                }

            }

            p {
                color: red;
                font-size: 12px;
                text-align: center;
            }
            span {
                font-size: 12px;
                text-align: center;
            }

        }


        //Navbar
        .navbar {
            .container {
                padding: 10px 0px;
                display: flex;
                justify-content: space-between;

                .logo {
                    display: flex;
                    align-items: center;
                    font-size: 1.8rem;
                    font-weight: 800;
                    color: $lightColor;

                    span {
                        color: $lightGray;
                    }
                }

                .links{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    color: $lightColor;
                    h6 {
                        font-size: 16px;
                        font-weight: 300;
                    }
                    
                    span {
                        cursor: pointer;
                    }

                    .write {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background-color: $primaryColor;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid white;

                        &:hover {
                            color: teal;
                            background-color: white;
                            border: 1px solid teal;
                        }
                    }
                }

            }
        }

        //FOOTER

        footer{
            margin-top: 100px;
            padding: 20px;
            background-color: $darkColor;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 12px;
            color: $lightColor;

            .logo {
                display: flex;
                align-items: center;
                font-size: 1.8rem;
                font-weight: 800;
                color: $lightColor;

                span {
                    color: $lightGray;
                }
            }


        }

        //SPILL ARTICLES

        .spill {

            .articles {
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                gap: 150px;

                .article {
                    display: flex;
                    gap: 100px;

                    &:nth-child(2n+1){
                        flex-direction: row-reverse;
                    }

                    .img{
                        flex: 2;
                        position: relative;

                        &::after{
                            content: "";
                            width: 100%;
                            height: 100%;
                            background-color: $blueSecondary;
                            position: absolute;
                            top: 20px;
                            left: -20px;
                            z-index: -1;

                        }
                        
                        img{
                            width: 100%;
                            max-height: 400px;
                            object-fit: cover;
                            
                        }
                    }

                    .content{
                        flex: 3;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;


                        h1{
                            font-size: 48px;
                            color: $lightColor;
                        }

                        p{
                            font-size: 18px;
                            color: $lightGray;
                        }

                        button{
                            width: max-content;
                            padding: 10px 20px;
                            border: none;
                            cursor: pointer;
                            background-color: $lightColor;
                            border: 1px solid teal;
                            color: teal;
                        
                            &:hover{
                                border: 1px solid white;
                                background-color: $blackDark;
                                color: $lightGray;
                            }
                        }
                    }
                }
            }
        }

        //DETAIL SINGLE ARTICLE
        .detailArtikel{
            display: flex;
            gap: 50px;

            .content{
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 30px;


                img{
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                }

                .user{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 14px;
                    color: $lightColor;
                    img{
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    span{
                        font-weight: bold;
                    }

                    p{
                        margin: 0;
                    }
                }

                .edit{
                    display: flex;
                    gap: 5px; 
                    font-size: 14px;
                    cursor: pointer;
                }
            }

                h1{
                    font-size: 48px;
                    color: $lightColor;
                }

                p{
                    text-align: justify;
                    line-height: 30px;
                }

            .menu{
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 25px;

                h1{
                    font-size: 20px;
                    color: $lightGray;
                }

                .post{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    img{    
                        width: 100%;
                        height: 200px;
                        object-fit: cover;
                    }

                    h2{
                        color: $lightColor;
                    }

                    button{
                        width: max-content;
                        padding: 7.5px 15px;
                        border: none;
                        cursor: pointer;
                        background-color: white;
                        border: 1px solid teal;
                        color: teal;
                    
                        &:hover{
                            border: 1px solid white;
                            background-color: $primaryColor;
                            color: black;
                        }
                    }
                }


            }
        }

        //ADD POST
        .addPost{
            margin-top: 20px;
            display: flex;
            gap: 20px;
            background-color: $lightColor;

            .content{
                flex: 12;
                display: flex;
                flex-direction: column;
                padding: 10px;
                gap: 20px;

                input{
                    padding: 10px;
                    border: none;
                    border-bottom: 2px solid $lightGray;
                }

                .editorContainer {
                    height: 300px;
                    overflow: scroll;
                    background-color: #fff;
                    border-bottom: 2px solid $lightGray;
                    p{
                        font-size: 12px;
                        color: $blackDark;
                    }

                    .text-editor{
                        height: 100%;
                    }
                }

                .editorContainer::-webkit-scrollbar {
                    display: none;
                }

                #file{
                    display: none;
                }

                label{
                    border-bottom: 2px solid $lightGray;
                    cursor: pointer;
                    padding: 5px;
                }

                .buttons{
                    display: flex;
                    gap: 20px;

                    :first-child{
                        padding: 10px;
                        border: 2px solid $navyBlue;
                        background-color: $navyBlue;
                        color: $lightColor;
                        cursor: pointer;

                    }
                    :last-child{
                        padding: 10px;
                        border: 2px solid $navyBlue;
                        background-color: $lightColor;
                        color: $navyBlue;
                        cursor: pointer;
                    }
                }
            }
        }

        //HOME
        .home{
            margin-top: 30px;

            .landingPage{
                display: flex;
                .text{
                    flex: 5;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    text-align: justify;
                    h1{
                        font-size: 3.5rem;
                        color: $lightColor;
                        margin-bottom: 2px;
                        position: relative;

                        &::after{
                            content:" ";
                            width: 150px;
                            height: 36px;
                            background-color: $blueColor;
                            opacity: 0.9;
                            position: absolute;
                            bottom: 7px;
                            left: 90px;
                            z-index: -1;
                            filter: blur(1px);
                        }
                    }

                    span{
                        color: $lightGray;
                    }

                    p{
                        color: $lightColor;
                        line-height: 30px;
                    }

                    button{
                        padding: 10px;
                        width: 16rem;
                        border-radius: 5px;
                        border: none;
                        background-color: $lightGray;
                        cursor: pointer;
                        color: $navyBlue;
                        font-size: 18px;
                        font-weight: 700;
                        
                        &:hover{
                            transform: scale(1.02);

                        }
                    }
                }
 
                .image{
                    flex: 4;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        width: 100%;

                    }
                }
            }
        }


        // ABOUT
        .about{
            display: flex;
            gap: 50px;
            height: 100vh;
            

            .left{
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 10px;

                h1{
                    font-size: 38px;
                    font-weight: 900;
                    
                    position: relative;
                    color: $lightColor;
                    &::after{
                        content: " ";
                        width: 105px;
                        height: 30px;
                        background-color: $blueColor;
                        opacity: 0.9;
                        position: absolute;
                        bottom: 0;
                        left: 210px;
                        z-index: -1;
                        filter: blur(1px);
                    }
                }

                .desc-about{
                    font-size: 14px;
                    font-weight: 700;
                }

                .accordion{
                    display: flex;
                    flex-direction: column;
                    .accordion-item{
                        display: flex;
                        flex-direction: column;
                        border-bottom: 1px solid $lightGray;

                    }

                    .accordion-title{
                        display: flex;
                        justify-content: space-between;
                        
                        p{
                            font-size: 18px;
                            color: $lightColor;
                        }

                    }
                }
                p{
                    font-size: 14px;
                    text-align: justify;
                }

            }

            .right{
                flex: 5;
                width: 100%;

                img{
                    width: 95%;
                    position: relative;

                   filter: drop-shadow(0.4rem 0.5rem 0.4rem rgba(11, 12, 233, 0.5));
                   transition: width 1s, filter 1s;
                    &:hover{
                        filter: drop-shadow(0.7rem 1rem 0.4rem rgba(11, 12, 233, 0.7));
                        width: 100%;
                    }
                }

            }
        }


        // CONTACT
        .contact{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;

            .email{
                
                .formEmail{
                    padding: 50px;
                    background-color: $lightGray;
                    opacity: 0.9;
                    width: 500px;
                    border-radius: 5px;
                    gap: 20px;

                    h1{
                        text-align: center;
                        color: $blackDark;
                        font-size: 34px;
                        font-weight: 900;
                        opacity: 0.9;

                    }

                    input,textarea{
                        background-color: $lightGray;
                        border: none;
                        border-bottom: 1px solid $darkColor;
                        
                        &::-webkit-input-placeholder{
                            color: $blackDark;
                        }
                    }

                    button{
                        background-color: $lightColor;
                        border: 3px solid $darkColor;
                        color: $blackDark;
                        font-size: 1rem;

                        &:hover{
                            transform: translateY(1px);
                            opacity: 0.7;
                        }
                    }
                }

            }
            .socials{
                text-align: center;
                .contact-section-header{
                    font-size: 3.5rem;
                    color: $lightColor;
                    position: relative;

                    &::after{
                        content: " ";
                        width: 220px;
                        height: 40px;
                        background-color: $blueColor;
                        position: absolute;
                        opacity: 0.9;
                        bottom: 0;
                        right: 20px;
                        z-index: -1;
                        filter: blur(1px);
                    }
                }

                ul{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    gap: 3rem;
                    margin-top: 5rem;
                }

                li{
                    font-size: 2rem;
                    list-style: none;
                    color: $lightColor;
                    text-shadow: 2px 2px 1px  #1f1f1f;
                    transition: transform 0.3s ease-out;

                    &:hover{
                        transform: translateY(8px);
                        color: #0b0ce9;
                    }
                }
            }
        }

    }
}