:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  $primaryColor : red;

.app{
    display: flex;
    justify-content: center;

    .container{
        width: 1024px;

        .link{
            text-decoration: none;
            color: inherit;
        }

        // LOGIN & REGISTER

        .auth {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            
            h1{
                font-size: 2rem;
                color: $primaryColor;
            }

            form{
                display: flex;
                flex-direction: column;
                padding: 50px;
                width: 300px;
                background-color: #f5f5f5;
                gap: 20px;
                border-radius: 5px;

            }

            input{
                border: none;
                border-bottom: 1px solid black;
                background-color: #f5f5f5;
                padding: 10px;
            }

            button {
                padding: 10px;
                border: 1px solid #f5f5f5;
                background-color: $primaryColor;
                color: white;
                cursor: pointer;

                &:hover{
                    background-color: #f5f5f5;
                    color: black;
                    border: 1px solid $primaryColor;
                }

            }

            p{
                color: red;
                font-size: 12px;
                text-align: center;
            }

            span{
                font-size: 12px;
                text-align: center;
            }
        }
    }
}